<h1 align="center">This is my home page</h1>
<p>The Met Office has issued a fresh weekend weather warning of freezing wind and rain which will 
    produce dangerous travelling conditions.</p>
<br />
<p>Much of central England will be affected by what the Met Office says will be a "rapid development 
    of widespread ice, with very dangerous travelling conditions likely</p>
<br />
<p>The Met Office also says there is a chance of injuries from slips and falls on icy surfaces, and bus and train services may be delayed or cancelled, 
    with some road closures and longer journey times possible.</p>
<br />
